<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dealership Review</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="/djangoapp/">Home</a>
            <a href="/djangoapp/about/">About us</a>
            <a href="/djangoapp/contact/">Contact us</a>
            
            {% if user.is_authenticated %}
            <form>
                <input type="text" value="" />
                <input type="password" value="" />
                <input type="button" value="Login" />
            </form>
            <a href="/signup/">Sign Up</a>
            {% else %}
            <span>{% user.TBD %}</span>
            <a href="/logout/">Logout</a>
            {% endif %}
        </nav>

    <!--Add a dealer table here -->

    </body>

</html>
